<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>{{descricao_exercicio}}</p>
    <br>
    <form action="{% url 'ex6' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="palavra1">
        <input type="text" name="palavra2">
        <input type="text" name="palavra3">
        <input type="text" name="palavra4">
        <input type="text" name="palavra5">
        <button type="text">Enviar</button>
    </form>

    {% if total %}
        <h2>{{ total }}</h2>
    {% endif %}


    <a href="{% url 'home' %}">Voltar para a home</a>

</body>
</html>