<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <p>{{descricao_exercicio}}</p>

    <form action="{% url 'ex8' %}" method="POST">
        {% csrf_token  %}
        <label for="">Valor</label>
        <input type="text" name="valor" id="valor">
        <br>
        <br>
        <button type="submit">Calcular</button>

    </form>

    {% if soma %}
        <h2>O total da soma é: {{ soma }}</h2>
    {% endif %}

    <a href="{% url 'home' %}">Voltar para a home</a>

</body>
</html>