<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercícios</h1>
    <a href="{% url 'ex1' %}">Exercicio 1 - Heello Word</a>
    <br>
    <a href="{% url 'ex2' %}">Exercicio 2 - Calculo Total</a>
    <br>
    <a href="{% url 'ex3' %}">Exercicio 3 - Nome e Idade</a>
    <br>
    <a href="{% url 'ex4' %}">Exercicio 4 - Soma de dois Numeros</a>
    <br>
    <a href="{% url 'ex5' %}">Exercicio 5 - Quantidade de Caracteres de uma Palavra</a>
    <br>
    <a href="{% url 'ex6' %}">Exercicio 6 - Formar frases com 5 palavras</a>
    <br>
    <a href="{% url 'ex7' %}">Exercicio 7 - Número Somado dele mesmo</a>
    <br>
    <a href="{% url 'ex8' %}">Exercicio 8 - Número somado mais 1</a>
    <br>
    <a href="{% url 'ex9' %}">Exercicio 9 - "Olá, [nome]!"</a>
    <br>
    <a href="{% url 'ex10' %}">Exercicio 10 -Duas Variáveis Inteiras e Somar esses Valores</a>
    <br>    
    <a href="{% url 'ex11' %}">Exercicios 11 - Quantidades de Caracteres de uma frase.</a>
    <br>
    <a href="{% url 'ex12' %}">Exercicios 12 - Unir duas Variáveis em uma Terceira Variável e Imprimir Resultado.</a>
    <br>
    <a href="{% url 'ex13' %}">Exercicio 13 - Variável com o Ano Atual e outra com o Ano de Nascimento.</a>
    <br>
    <a href="{% url 'ex14' %}">Exercicio 14 - Trocar Valores.</a>
    <br>
    <a href="{% url 'ex15' %}">Exercicio 15 - Imprimir Variável 3 Vezes</a>
    <br>
    <a href="{% url 'ex16' %}">Exercicio 16 - Média de quatro variáveis inteiras</a>
    <br>
    <a href="{% url 'ex17' %}">Exercicio 17 - Imprimir Frase com 2 Variáveis com Objeto e uma Cor.</a>
    <br>
    <a href="{% url 'ex18' %}">Exercicio 18 -  Escreva um Programa que Declare Duas Variáveis com Nomes de Cidades.</a>
    <br>
    <a href="{% url 'ex19' %}">Exercicio 19 - Olá, [nome]!.</a>
    <br>
    <a href="{% url 'ex20' %}">Exercicio 20 - Soma de dois Numeros</a>
    <br>
    <a href="{% url 'ex21' %}">Exercicios 21 - Caracteres de uma frase.</a>
    <br>
    <a href="{% url 'ex22' %}">Exercicio 22 - Unir duas Variáveis em uma Nova Strings e Imprimir Resultado.</a>
    <br>
    <a href="{% url 'ex23' %}">Exercicio 23 - Variável com o Ano Atual e outra com o Ano de Nascimento.</a>
    <br>
    <a href="{% url 'ex24' %}">Exercicio 24 - Trocar Valores.</a>
    <br>
    <a href="{% url 'ex25' %}">Exercicio 25 - Repetir String.</a>
    <br>
    <a href="{% url 'ex26' %}">Exercicio 26 - Média de Quatro Números.</a>
    <br>
    <a href="{% url 'ex27' %}">Exercicio 27 - Objeto e Cor</a>
    <br>
    <a href="{% url 'ex28' %}">Exercicio 28 - Posição Geografica</a>
    <br>
    <a href="{% url 'ex29' %}">Exercicio 29 - Calculadora Simples</a>



</body>
</html>