<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<style>
.container {
  max-width: 1300px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 5px;  
  }



p{
font-size: 23px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-bottom: 10px;
padding-left: 70px;
padding-right: 300px;
color: rgb(106, 16, 16);
        
}

h1 {
font-size: 46px;
color: rgb(200, 19, 19);
padding-bottom: 20px;
padding-left: 11px;
text-shadow: 0px -1px 1px black;
}

a{
  color: rgb(106, 16, 16);

}





</style>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><b>Hotel Estrela do Mar</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lazerbemestar">Lazer e Bem-Estar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aluguelcarro">Aluguel de Carro</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"> &#11088;&#65039; &#11088; &#65039;&#11088;&#65039;&#11088;&#65039; &#11088;&#65039;</a>
          </li>
          <a href="/cadastro" class="btn btn-outline-primary">Faça sua Reserva!</a>
        </ul>
        
      </div>
    </div>
  </nav>

  <div class="container">

    <h1>Deixe seu Feedback!</h1>

    <form action="contato" method="post">

<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 95px " style="width:95px "  disabled></textarea>
  <label for="floatingTextarea2Disabled">Comments</label>
</div> 
      <button type="submit">Enviar</button>

    </form>

    <h1>Entre em Contato Conosco!</h1>

    
      <p>Nome: Hotel Estrela do Mar</p>
      <p>E-mail: <a href="email">hotelestreladomar@gmail.com</a></p>
      <p>Telefone:(11)3768-9764</p>
      <p>Endereço:Avenida da Praia,789, Bairro Indústrial, &#128205;Ilhabela-SP </p>
  
  </div>




  



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    
</body>


</html>